@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header {
    max-width: 500px;
    text-align: center;
    margin: 45px auto;
}

h1 {
    font-weight: 200;
    margin: 0;
}

h1.second {
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border-color: #FFFF;
    padding: 30px;
    width: 350px;
    margin: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.b1::after {
    background-color: hsl(180, 62%, 55%);
}

.b2::after {
    background-color: hsl(0, 78%, 62%);
}

.b3::after {
    background-color: hsl(34, 97%, 64%);
}

.b4::after {
    background-color: hsl(212, 86%, 64%);
}

.bdown {
    transform: translateY(50%);
}

.box h3 {
    margin: 0;
}

.box img {
    display: block;
    margin-left: auto;
}

.box p {
    font-size: 13px;
    margin: 30px 0 35px;
}

footer {
    text-align: center;
}

@media (max-width: 775px) {
    .bdown {
        transform: translateY(0);
    }
}